Case-Study-2-_-How-can-a-wellness-technology-company-play-it-smart.pdf
data/cleandata/dailyactivity.csv
data/cleandata/heartrate_seconds.csv
data/cleandata/hourlydata.csv
data/cleandata/minutedata.csv
data/cleandata/minutesleep.csv
data/cleandata/sleepday.csv
data/cleandata/weightloginfo.csv
